<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" href="../static/styles/3-header.css?{{ cache_id }}">
    <link rel="stylesheet" href="../static/styles/3-footer.css?{{ cache_id }}">
    <link rel="stylesheet" href="../static/styles/6-filters.css?{{ cache_id }}">
    <link rel="stylesheet" href="../static/styles/8-places.css?{{ cache_id }}">
    <link rel="icon" href="../static/images/icon.png?{{ cache_id }}" type="image/png">
    <title>AirBnb Clone</title>
  </head>
